<div class= "back">
  <%= link_to 'メインページへ戻る', '/posts/' %>
</div>
<div class="postTitle">
  <div class="postname">
    「<%= @user.nickname %>」投稿一覧
  </div>
    <% @posts.each do |post| %>
      <div class="content">
        <div class="content__top">
          <div class="content__top--image"></div>
        </div>
        <div class="content__bottom">
          <div class="content__bottom__top">
            <p>接客内容</p>
            <%= link_to post.name, post_path(post.id), class: "content__bottom__top--title" %>
          </div>
          <div class="content__bottomu__bottom">
            お薬は「<%= post.nickname %>」をお勧めしました！
            <div class="content__bottom__bottom--userName">
              <p>投稿者</p>
              <%= link_to post.user.nickname, user_path(post.user), class: "content__bottom__bottom--userName--btn" %>
            </div>
            <div class="content__bottom__bottom--date">
              <%= post.created_at %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate(@posts)%>
</div>