<div class="content">
    <div class="contents">
      <div class="content__1">
        <div class="content__1__title">
          <h2>症状</h2>
          <%= link_to post.name, post_path(post.id), class: "content__1__title--answer" %>
        </div>
      </div>
      <div class="content__2">
        <%# <div class="sex">
          <h2>性別</h2>
          <div class="sex__answer">
            <%= post.sex %>
          <%# </div>
        </div> %>
        <div class="age">
          <h2>年齢</h2>
          <div class="age__answer">
            <%= post.age %>歳
          </div>
        </div>
        <div class="created_at">
          <h2>投稿時間</h2>
          <div class="created_at__answer">
            <%= post.created_at %>
          </div>
        </div>
      </div>
      <div class="content__3">
        <h2>投稿者</h2>
        <%= link_to post.user.nickname, user_path(post.user), class: "content__3" %>
      </div>
    </div>
</div>

<%# 部分テンプレートのファイル名は必ずアンダーバー「_」から始まります。 %>
<%# HTML構造の部分を共通化することによって、無駄なくビューファイルを作成することができます。この共通化された部分を、 部分テンプレート %>