<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JavaScript</title>
  </head>
  <body>
    <script src="script.js"></script>
  </body>
</html>
  <div class="wrapper">
    <main>
      <section class="fv-section">
        <p class="main-copy"><b>市販薬を共有することで</b>
        </p>
        <p class="fv-text">♦︎自分にベストなお薬を見つける</p>
        <p class="fv-text">♦︎辛い症状の時も接客は必要なし</p>
        <p class="fv-text">♦︎お薬の知識の向上にもつながる</p>
        <a href="/posts/new" class="cta-btn">GO</a>
      </section>
    </main>
    <div class= "postContent">
      <h1></h1>
      <%= link_to '1つ戻る', '/posts/new' %>
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "あなたの辛い症状で検索する", class: "search-input" %>
        <%= form.submit "click!", class: "search-btn" %>
      <% end %>
      <div class="postTitles">
        <% @posts.each do |post| %>
          <%= render partial: "post", locals: { post: post } %>
        <%# renderメソッドで使用できるオプションです。 partialというオプションを付けることで、
        明示的に部分テンプレート名を指定し、部分テンプレートを表示することができます。
        今回は、_post.html.erbという部分テンプレートを呼び出しています。 %>
        <%# 右側のpostはeachメソッド内の変数としてのpostでpostのインスタンスを示しています。
        左側のpostは部分テンプレート内での変数の名前を表しています。 %>
        <% end %>
        <%= paginate(@posts)%>
      </div>
    </div>
    <footer>
      <small>kojinn2 all rights reserved</small>
    </footer>
  </div>
</body>
</html>

