<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>KojinnApp</title>
</head>
  <body>
    <script src="script.js"></script>
  </body>
</html>
<div class="wrapper">
  <main>
    <section class="fv-section">
      <p class="main-copy">
      <b>アプリの目的</b>
      </p>
      <p class="fv-text">♦︎薬剤師がお薬を接客をした際、その内容を随時記載していく</p>
      <p class="fv-text">♦︎接客内容を記載し公表することで、</p>
      <p class="fv-text">全国の登録販売者・お客様のお薬の知識の向上を目指す</p>
      <a href="/posts/new" class="cta-btn">GO</a>
    </section>
  </main>
  <div class= "postContent">
    <h1></h1>
    <%# <%= link_to '1つ戻る', '/posts/new' %> 
    <%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "学びたい症状を入力", class: "search-input" %>
    <%= form.submit "click!", class: "search-btn" %>
    <% end %>
    <div class="postTitles">
      <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
      <%# renderメソッドで使用できるオプションです。 partialというオプションを付けることで、
      明示的に部分テンプレート名を指定し、部分テンプレートを表示することができます。
      今回は、_post.html.erbという部分テンプレートを呼び出しています。 %>
      <%# 右側のpostはeachメソッド内の変数としてのpostでpostのインスタンスを示しています。
      左側のpostは部分テンプレート内での変数の名前を表しています。 %>
      <% end %>
      <%= paginate(@posts)%>
    </div>
  </div>
  <footer>
    <small>I want to change drugstore with this app
</small>
  </footer>
</div>