<h1>お薬自動AI機能へようこそ</h1>
<%= link_to '1つ戻る', '/posts' %>
<p>詳細に記入することで、お客様の症状に合う「最適なお薬」を自動的に選択します</p>
<%= form_with model: @post, class: :form, local: true do |form| %>
    <div class="arerugii">　　
  <h2>タイトル</h2>　
  <%= form.text_area :name, placeholder: :例：コロナウイルス疑惑, class: :form__name %>

    <div class="arerugii">　　
  <h2>年齢を教えてください</h2>　
  <%= form.number_field :age, placeholder: :→, class: :form__age, min: 1, max: 150 %>

  <h2>いつ頃から発症をしたか教えてください</h2>　
      <div class="day">　　
 <div class="day">
 <%= form.datetime_field :content, {start_year: 1990, end_year: 2100} %>
</div>
      <div class="arerugii">　　
  <h2>具体的な状態を教えてください</h2>　
  <%= form.text_area :title, placeholder: :例：熱が特にひどく、喉も痛いです。私はコロナなのでしょうか？, class: :form__title %>
  <h2>アレルギー・喘息などの有無を教えてください</h2>　

  <%= form.select :allergy, [ ["アレルギー有り・喘息有り",1], ["アレルギーのみ有り", 2], ["喘息のみ有り", 3 ] ,["特になし", 4]], prompt: "選択してください" %>
  <h2>今、何か飲まれているお薬があれば教えてください</h2>　
  <%= form.text_area :kusuri, placeholder: :例：ロキソニン・高血圧のお薬・血液をサラサラにするお薬, class: :form__title %>
  <h2>画像</h2>　
  <%= form.text_area :image, placeholder: :例：お薬手帳・症状の部位・ネットから似ている症状の写真の引用, class: :form__title %>

  <%= form.submit 'AI判別開始', class: :form__btn %>
<% end %>

