<div class="postTitle">
  <h1>辛い症状『<%= @post.name %>』</h1>
  <h2> 店員さんにお勧めされたお薬：<%= @post.nickname%></h2>
</div>
<% if user_signed_in? && current_user.id == @post.user_id %>　
<%# ①ログインしてます？　　②ログインしているユーザー　と　投稿したユーザーが一致してます？ それなら編集・削除して良いですよ %>
  <div class="postManage">
    <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit"%>
    <%= link_to "削除", post_path(@post.id),method: :delete,class: "postManage__delete",data: {confirm: "消すなんて嘘だろ?"} %>
    <%# <%= link_to "1つ戻る",'Create', 'posts_path'なぜかトップに行っちゃう %>
  </div>
<% end %>
<div class="post">
  <h2>投稿時間</h2>
    <div class="postDate">
      <%= @post.created_at %>
    </div>
  <h2>年齢</h2>
    <div class="postDate">
      <%= @post.age %>歳
    </div>
  <h2>発症時期</h2>
    <div class="postDate">
      <%= @post.content %>
    </div>
  <h2>アレルギー・喘息の有無</h2>
    <div class="postDate">
      <%= @post.allergy %>
    </div>
  <h2>現在服用中のお薬</h2>
  <div class="postDate">
    <%= simple_format @post.kusuri %>
    <%# simple_formatは投稿時に改行を含むデータを送信したときに、その改行を反映してくれる役割が %>
  </div>
  <h2>症状の具体的な説明</h2>
  <div class="postText">
  　　<%= simple_format @post.title %>
  </div>
  <h2>画像</h2>
    <div class="postImage" style="background-image:url(<%= @post.image %>);">
  </div>
    <div class="container">
      <% if current_user %>
        <%= form_with(model: [@post
        # , @comment⬅︎これ入れるとエラー出るねん　undefined method `model_name' for nil:NilClass
        ], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  </div>
</div>