<div class="postTitle">

  タイトル：<%= @post.name %>
</div>
<% if user_signed_in? && current_user.id == @post.user_id %>　
<%# ①ログインしてます？　　②ログインしているユーザー　と　投稿したユーザーが一致してます？ それなら編集・削除して良いですよ %>
  <div class="postManage">
    <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit",data: {confirm: "本当に編集しますか?"} %>
    <%= link_to "削除", post_path(@post.id),method: :delete,class: "postManage__delete",data: {confirm: "消すなんて嘘だろ?"} %>
    <%# <%= link_to "1つ戻る",'Create', 'posts_path'なぜかトップに行っちゃう %>
  </div>
<% end %>



<div class="post">
  <h2>投稿時間</h2>
    <div class="postDate">
      <%= @post.created_at %>
    </div>
  <div class="postAuthor">
  </div>
  <h2>年齢:</h2>
    <div class="postDate">
      <%= @post.age %>歳
    </div>
  <h2>いつ頃から:</h2>
    <div class="postDate">
      <%= @post.content %>
    </div>
  <h2>持病:
    <h4> [1 = アレルギー有り・喘息有り][2 = アレルギーのみ有り]
    [3 = 喘息のみ有り]
    [4 = 特になし]
    </h4>
  </h42>
  <div class="postDate">
    <%= @post.allergy %>
  </div>
  <h2>年齢現在服用中のお薬：</h2>
  <div class="postDate">
    <%= simple_format @post.kusuri %>
    <%# simple_formatは投稿時に改行を含むデータを送信したときに、その改行を反映してくれる役割が %>
  </div>
  <h2>年齢症状の具体的な説明：</h2>
  <div class="postText">
  　　<%= simple_format @post.title %>
  </div>
  <h2>画像：</h2>
  <div class="postImage" style="background-image:url(<%= @post.image %>);">
  </div>
  <div class= "links">
    <div class="header-link">
      <h3>AIがお勧めのお薬を選びました→
        <a href="https://www.daiichisankyo-hc.co.jp/products/details/lulu_attack_ex/">
        push
        </a>
      </h3>
    </div>
    <div class="header-link">
      <h3>ドローンでの速達購入も可能です→
        <a href="https://www.matsukiyo.co.jp/store/online/p/4987107609205">
        push
        </a>
      </h3>
    </div>
  </div>
</div>
